<div id="page">
  <div id="register">
    <form
      style="padding: 30px"
      method="POST"
      action="/admin-register"
      class="form"
    >
      <p class="error"><%= typeof message != 'undefined' ? message : '' %></p>
      <input
        type="text"
        name="name"
        placeholder="Full Name"
        required
        value="<%= typeof name != 'undefined' ? name : '' %>"
      />
      <input
        type="text"
        name="phone"
        placeholder="Phone Number"
        required
        value="<%= typeof phone != 'undefined' ? phone : '' %>"
      />

      <input
        type="email"
        name="email"
        placeholder="Email"
        required
        value="<%= typeof email != 'undefined' ? email : '' %>"
      />
      <input
        type="password"
        name="password"
        placeholder="password at least 12 characters"
        required
        value="<%= typeof password != 'undefined' ? password : '' %>"
      />
      <input
        type="password"
        name="passwordConfirm"
        placeholder="password again"
        required
        value="<%= typeof passwordConfirm != 'undefined' ? passwordConfirm : '' %>"
      />

      <input type="submit" value="Register" />
    </form>
  </div>
</div>
